body{
    background: linear-gradient(to bottom right, #1f042c, #d4b1e6);
    
}

.toptextbox{
    font-family: Impact;
    width: 490px;
    position: relative;
    text-transform: uppercase;
    color: white;
}

.bottomtextbox{
    font-family: Impact;
    width: 490px;
    position:relative;
    text-transform: uppercase;
    color: white;
}