body{
    background: linear-gradient();
    color: white;
}

.toptextbox{
    font-family: Impact;
    left: 4px;
    top: 4px;
    width: 490px;
    height: 174px;
    position: relative;
    text-transform: uppercase;
}

.bottomtextbox{
    font-family: Impact;
    left: 4px;
    top: 508px;
    width: 490px;
    height: 174px;
    position:relative;
    text-transform: uppercase;
}