body{
<<<<<<< HEAD
    background: linear-gradient(to bottom right, #1f042c, #d4b1e6);
    
=======
    background: linear-gradient();
    color: white;
>>>>>>> 51fb5d46de86502077a36aae8a33b48afe45e5bd
}

.toptextbox{
    font-family: Impact;
    left: 4px;
    top: 4px;
    width: 490px;
    height: 174px;
    position: relative;
    text-transform: uppercase;
}

.bottomtextbox{
    font-family: Impact;
    left: 4px;
    top: 508px;
    width: 490px;
    height: 174px;
    position:relative;
    text-transform: uppercase;
}